<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/png" href="../static/images/icon.png">
</head>
<body>
    <header class="header" data-section-theme="light">
        <div class="container">
          <div class="logo">
            <a href="">
              <img src="../static/images/logo.png" alt="hbnb logo" width="160" height="40">
            </a>
          </div>
          <nav class="navbar-menu">
            <ul class="nav">
              <li class="nav-item">
                <a href="/places/" class="nav-link active">Index</a>
              </li>
              <li class="nav-item">
                <a href="/places/place_id" class="nav-link">Place</a>
              </li>
              <li class="nav-item">
                <a href="/places/place_id/reviews" class="nav-link">Add_review</a>
              </li>
              <li class="nav-item">
                <a href="/users/" class="nav-link">Login</a>
              </li>
            </ul>
          </nav>
        </div>
    </header>
    <main>
        <form id="review-form">
            <h2>Add a Review</h2>
            <label for="place">Place:</label>
            <input type="text" id="place" name="place" readonly>
            
            <label for="review">Review:</label>
            <textarea id="review" name="review" required></textarea>
            
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer class="footer" data-section-theme="light">
        <div class="container">
          <p>&copy; 2024 HBnB. All rights reserved.</p>
        </div>
    </footer>
    <script src="../static/scripts.js"></script>
</body>
</html>